# common
node_modules

# api
output
build
nodemon.json
google-sa.json

# app
.expo
android
.env*
eas.json
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
expo-env.d.ts